/*.slide .footer {
  position: relative;
  background-color: #AAAAAA;
  margin-left: -60px;
  width: 898px;
  height: 250px;
  vertical-align: center;
  overflow: auto;
  margin-bottom: -250px;
}*/

.slide .header {

}

.slide .main {
  
}

.slide .footer {
  
}